.about {
  white-space: nowrap;
}

.name {
  font-size: 15px;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status {
  color: #999;
  font-size: 13px;
}

.clearfix {
  display: flex;
  gap: 20px;
  align-items: center;
}

.friend-list {
  display: flex;
  align-items: center;
  color: white;
  width: 96%;
  justify-content: space-between;
}

.badge-notif {
  position: relative;
  left: -7%;
}

.friend-name {
  color: inherit;
}

.friend-list:hover {
  background: #f5c71a;
  color: black !important;
  cursor: pointer;
}
